html, body {
    height: 100%;
    margin: 0;
}

.layout-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.layer-progress {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.container-progress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 62px;
}

.layer-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}


.loading-title {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.block-word {
    color: #FFDA58;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.py-word {
    color: #FFDA58;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.loading-bar-bracket {
    color: #FFDA58;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.loading-bar-number {
    color: #FFDA58;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.loading-bar-percent {
    color: #FFDA58;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
